<div class="row">
    {% for paisaje in site.data.paisajes2 %}
    <article class="col-4 col-12-mobile special grid">
        <span class="image featured"><img src="{{site.baseurl}}/images/{{paisaje.photo}}" alt="{{paisaje.title}}"
                title="{{paisaje.title}}" /></span>
        <header>
            <h3>{{paisaje.title}}</h3>
        </header>
        <p><a href="{{paisaje.url}}" target="_blank"><i class="fas fa-home"></i>&nbsp;{{paisaje.initiative}}</a><br>
            <small>({{paisaje.location}})</small>
        </p>
        <iframe src="{{paisaje2.recording}}" width="100%" height="30" frameborder="0" webkitallowfullscreen="true"
            mozallowfullscreen="true" allowfullscreen></iframe>
        <footer>
            <p>
                {{paisaje.description}}
            </p>
        </footer>
    </article>
    {% endfor %}
</div>
